# KDE Config File
[Desktop Entry]
Type=Application
Version=1.1
Name=pvfViewer
GenericName=PC Stitch Pattern Viewer
Comment=A PC Stitch pattern viewer application
Icon=pvfViewer
Exec=pvfViewer -qwindowtitle %c %U
Terminal=false
MimeType=application/x-pvf;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=pvfViewer/index.html
X-DBUS-StartupType=None
X-DBUS-ServiceName=org.kde.pvfViewer
