# KDE Config File
[Desktop Entry]
Type=Application
Version=1.1
Name=pvfViewer
Name[ca]=pvfViewer
Name[ca@valencia]=pvfViewer
Name[en_GB]=pvfViewer
Name[es]=pvfViewer
Name[et]=pvfViewer
Name[fr]=pvfViewer
Name[it]=pvfViewer
Name[ko]=pvfViewer
Name[nl]=pvfViewer
Name[pt]=pvfViewer
Name[pt_BR]=pvfViewer
Name[sk]=pvfViewer
Name[sv]=pvfViewer
Name[uk]=pvfViewer
Name[x-test]=xxpvfViewerxx
GenericName=PC Stitch Pattern Viewer
GenericName[ca]=Visor de patrons del PC Stitch
GenericName[ca@valencia]=Visor de patrons del PC Stitch
GenericName[en_GB]=PC Stitch Pattern Viewer
GenericName[es]=Visor de patrones de PCStitch
GenericName[et]=PC Stitchi tikkimismustrite näitaja
GenericName[fr]=Afficheur de motifs de tapisserie
GenericName[it]=Visore di modelli di PC Stitch
GenericName[ko]=PC Stitch 패턴 뷰어
GenericName[nl]=PC Stitch Pattern Viewer
GenericName[pt]=Visualizador de Padrões do PC Stitch
GenericName[sv]=PC Stitch mönstervisningsprogram
GenericName[uk]=Програма для перегляду візерунків вишивки для ПК
GenericName[x-test]=xxPC Stitch Pattern Viewerxx
Comment=A PC Stitch pattern viewer application
Comment[ca]=Una aplicació que visualitza patrons del PC Stitch
Comment[ca@valencia]=Una aplicació que visualitza patrons del PC Stitch
Comment[en_GB]=A PC Stitch pattern viewer application
Comment[es]=Aplicación para ver patrones de PCStitch
Comment[et]=PC Stitchi tikkimismustreid näitav rakendus
Comment[fr]=Une application d'affichage de motifs de tapisserie
Comment[it]=Un applicazione per visualizzare i modelli di PC Stitch
Comment[ko]=PC Stitch 패턴 뷰어 프로그램
Comment[nl]=Een toepssing voor PC Stitch Pattern Viewer
Comment[pt]=Uma aplicação de visualização de padrões do PC Stitch
Comment[sv]=Ett PC Stitch mönstervisningsprogram
Comment[uk]=Програма для перегляду візерунків вишивки для ПК
Comment[x-test]=xxA PC Stitch pattern viewer applicationxx
Icon=pvfViewer
Exec=pvfViewer -qwindowtitle %c %U
Terminal=false
MimeType=application/x-pvf;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=pvfViewer/index.html
X-DBUS-StartupType=None
X-DBUS-ServiceName=org.kde.pvfViewer
