# KDE Config File
[Desktop Entry]
Type=Application
Version=1.1
Name=pvfViewer
Name[ca]=pvfViewer
Name[ca@valencia]=pvfViewer
Name[cs]=pvfViewer
Name[de]=pvfViewer
Name[en_GB]=pvfViewer
Name[eo]=pvfViewer
Name[es]=pvfViewer
Name[et]=pvfViewer
Name[eu]=pvfViewer
Name[fi]=pvfViewer
Name[fr]=pvfViewer
Name[gl]=pvfViewer
Name[he]=pvfViewer
Name[hi]=पीवीएफ़ प्रदर्शक
Name[ia]=pvfViewer
Name[it]=pvfViewer
Name[ka]=pvfViewer
Name[ko]=pvfViewer
Name[lv]=pvfViewer
Name[nl]=pvfViewer
Name[nn]=pvfViewer
Name[pl]=pvfViewer
Name[pt]=pvfViewer
Name[pt_BR]=pvfViewer
Name[ro]=pvfViewer
Name[ru]=pvfViewer
Name[sk]=pvfViewer
Name[sl]=pvfViewer
Name[sv]=pvfViewer
Name[tr]=pvf Görüntüleyicisi
Name[uk]=pvfViewer
Name[x-test]=xxpvfViewerxx
GenericName=PC Stitch Pattern Viewer
GenericName[ca]=Visualitzador de patrons del PC Stitch
GenericName[ca@valencia]=Visor de patrons del PC Stitch
GenericName[de]=Ein Kreuzstich-Muster-Betrachter
GenericName[en_GB]=PC Stitch Pattern Viewer
GenericName[eo]=Rigardilo por PC-Stitch Pattern Viewer File (ŝablonvidila dosiero)
GenericName[es]=Visor de patrones de PCStitch
GenericName[et]=PC Stitchi tikkimismustrite näitaja
GenericName[eu]=«PC Stitch» eredu erakuslea
GenericName[fi]=PC Stitch -kuviokatselin
GenericName[fr]=Afficheur de motifs de tapisserie
GenericName[gl]=Visor de padróns de PCStitch
GenericName[he]=מציג תבניות תפרים למחשב
GenericName[hi]=पीसी सिलाई पैटर्न प्रदर्शक
GenericName[it]=Visore di modelli di PC Stitch
GenericName[ka]=PC-ით ქარგვის ნიმუშის ფაილის გამხსნელი
GenericName[ko]=PC Stitch 패턴 뷰어
GenericName[lv]=PC Stitch piegriežņu skatītājs
GenericName[nl]=PC Stitch Pattern Viewer
GenericName[nn]=Visingsprogram for PC Stitch-mønsterfiler
GenericName[pl]=Przeglądarka wzorców dzierganych PC
GenericName[pt]=Visualizador de Padrões do PC Stitch
GenericName[pt_BR]=Visualizador de padrões PC Stitch
GenericName[sl]=Vpogledovalni vzorcev PC Stitch
GenericName[sv]=PC Stitch mönstervisningsprogram
GenericName[tr]=PC Dikiş Deseni Görüntüleyicisi
GenericName[uk]=Програма для перегляду візерунків вишивки для ПК
GenericName[x-test]=xxPC Stitch Pattern Viewerxx
Comment=A PC Stitch pattern viewer application
Comment[ca]=Una aplicació que visualitza patrons del PC Stitch
Comment[ca@valencia]=Una aplicació que visualitza patrons del PC Stitch
Comment[de]=Eine Anwendung für PC-Kreuzstich-Muster
Comment[en_GB]=A PC Stitch pattern viewer application
Comment[eo]=Rigardilo por PC-Stitch ŝablonvidila dosiero
Comment[es]=Aplicación para ver patrones de PCStitch
Comment[et]=PC Stitchi tikkimismustreid näitav rakendus
Comment[eu]=«PC Stitch» ereduak erakusteko aplikazio bat
Comment[fi]=PC Stitch -kuviokatselinsovellus
Comment[fr]=Une application d'affichage de motifs de tapisserie
Comment[gl]=Un visor de padróns de PCStitch.
Comment[he]=יישום להצגת תבנית תפרים למחשב
Comment[hi]=एक पीसी सिलाई पैटर्न प्रदर्शक अनुप्रयोग
Comment[it]=Un applicazione per visualizzare i modelli di PC Stitch
Comment[ka]=PC-ით ქარგვის ნიმუშის ფაილის გამხსნელი აპლიკაცია
Comment[ko]=PC Stitch 패턴 뷰어 앱
Comment[lv]=PC Stitch piegriežņu apskates programma
Comment[nl]=Een toepssing voor PC Stitch Pattern Viewer
Comment[nn]=Program for vising av PC Stitch-mønsterfiler
Comment[pl]=Przeglądarka wzorców dzierganych PC
Comment[pt]=Uma aplicação de visualização de padrões do PC Stitch
Comment[pt_BR]=Aplicativo visualizador de padrões PC Stitch
Comment[sl]=Aplikacija vpogledovalnika vzorcev PC Stitch
Comment[sv]=Ett PC Stitch mönstervisningsprogram
Comment[tr]=Bir PC dikiş deseni görüntüleyici uygulaması
Comment[uk]=Програма для перегляду візерунків вишивки для ПК
Comment[x-test]=xxA PC Stitch pattern viewer applicationxx
Icon=pvfViewer
Exec=pvfViewer -qwindowtitle %c %U
Terminal=false
MimeType=application/x-pvf;
Categories=Qt;KDE;Graphics;2DGraphics;RasterGraphics;
X-DocPath=pvfViewer/index.html
X-DBUS-StartupType=None
X-DBUS-ServiceName=org.kde.pvfViewer
